@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

input:focus{
  outline: none;
}

:root{
  --white: #ffffff;
  --black: #000000;
  --copy-button: #004ff9;
  --new-button: #3cc5d7;
}

body{
  width: 100%;
  height:100vh;
  overflow: hidden;
  font-family: 'EB Garamond', serif;
/*   background: url('./bg.png') no-repeat center center;
  background-size: cover; */
/*   background: linear-gradient( 157deg,#d16ba5,#86a8e7,#5ffbf1); */
  background: linear-gradient(90deg, #f97794, #623aa2);
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  color: var(--white);
  font-size: 1.2rem;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  transition: 50ms ease-in;
  box-shadow: 5px 5px #111;
}

.container{
  padding: 60px 40px;
  width: 1000px;
  background: var(--white);
  boerder: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px #111;
}

.container h1{
  color: var(--black);
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin-bottom: 40px;
}

.new{
  background: var(--new-button);
}

.copy{
  background: var(--copy-button);
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.form label{
  font-size: 1.2rem;
}

.form select{
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 5px;
  margin-top: 20px;
}

.newPassword{
  display: flex;
  align-items: center;
  gap: 20px;
}

#newPassword{
  border: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'EB Garamond', serif;
}

@media screen and (max-width: 480px){
  button{
  font-size: 0.8rem;
  padding: 12px 32px;
}


.container{
  width: 380px;
}

.container h1{
  font-size: 2rem;
}

.form label{
  font-size: 1rem;
  text-align: center;
}

.newPassword{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#newPassword{
  border: none;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'EB Garamond', serif;
}
}